*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:first-child,
table:first-child {
  margin-top: 0!important;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
          appearance: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.eot');
  src: url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-LIGHT.eot');
  src: url('../fonts/GEOLOGICA_AUTO-LIGHT.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-LIGHT.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-LIGHT.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-LIGHT.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-REGULAR.eot');
  src: url('../fonts/GEOLOGICA_AUTO-REGULAR.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-REGULAR.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-REGULAR.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-REGULAR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-BOLD.eot');
  src: url('../fonts/GEOLOGICA_AUTO-BOLD.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-BOLD.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-BOLD.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-BOLD.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

::selection {
  background-color: rgba(228, 121, 189, 0.3);
  color: #1E1E1E;
}

body {
  position: relative;
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 200;
  font-style: normal;
  color: #1E1E1E;
  background-color: #F6F6F6;
  min-width: 320px;
}

main {
  min-height: 100vh;
}

/* Наследуем шрифты для инпутов и кнопок */

textarea {
  resize: none;
}

input,
textarea {
  field-sizing: content;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

@-webkit-keyframes flight {
  0% {
    ransform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flight {
  0% {
    ransform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: #E479BD;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #E479BD;
  background-color: #F9CDE9;
}

.btn-out {
  color: #E479BD;
  background-color: #F9CDE9;
  border: 1px solid #F9CDE9;
}

.btn-out:hover,
.btn-out:active,
.btn-out:focus {
  color: #fff;
  background-color: #E479BD;
}

.btn-alt {
  color: #E479BD;
  background-color: #F9CDE9;
  border: 1px solid #F9CDE9;
}

.btn-alt:hover,
.btn-alt:active,
.btn-alt:focus {
  color: #fff;
  background-color: #E479BD;
}

.btn-wish {
  display: inline-block;
  padding: 13px;
  border-radius: 20px;
  font-size: 0;
  background-color: #F9CDE9;
  transition: background-color 0.5s ease;
  text-align: center;
}

.btn-wish:hover,
.btn-wish:active,
.btn-wish:focus {
  background-color: #F9CDE9;
}

.btn-wish svg path {
  transition: fill 0.5s;
}

.btn-wish:hover svg path,
.btn-wish:active svg path,
.btn-wish:focus svg path {
  fill: #E479BD;
}

.btn-wish-active svg path:first-child {
  fill: #E479BD;
}

.btn-wish-active:hover svg path:first-child,
.btn-wish-active:active svg path:first-child,
.btn-wish-active:focus svg path:first-child {
  fill: #F9CDE9;
}

.filter-btn {
  position: relative;
  padding-right: 28px;
}

.filter-btn::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  background: url(../img/filter.svg) no-repeat center;
  margin-top: -12px;
}

.btn-up {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  background: #E479BD url(../img/arrow-down.svg) no-repeat center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: background-color 0.5s ease;
}

.btn-up:hover,
.btn-up:active,
.btn-up:focus {
  background-color: #F9CDE9;
}

.form__all {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 24px;
}

.form__wrap {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

.form__label {
  margin-bottom: 16px;
  margin-right: 27px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}

.form__input {
  display: block;
  margin-bottom: 16px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.2;
  background-color: #FBFBFB;
  border: 1px solid transparent;
  border-radius: 15px;
  opacity: 0.6;
}

.form__input:focus {
  opacity: 1;
  border: 1px solid #E479BD;
}

.form__select {
  margin-bottom: 16px;
  width: 100%;
  height: 49px;
  padding: 16px 12px;
  color: rgba(30, 30, 30, 0.6);
  background: #FBFBFB url(../img/arrow-down-black.svg) no-repeat 95% center;
  border-radius: 15px;
  opacity: 0.6;
}

.form__select:focus {
  opacity: 1;
  outline: 1px solid #E479BD;
}

.form__input + .form__select {
  margin-left: 9px;
}

.form__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__line .form__label + .form__input {
  width: 80%;
  max-width: 340px;
}

.form__input-wrapper {
  display: flex;
  align-items: center;
}

.form__checkbox {
  flex-shrink: 0;
  margin-right: 8px;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #1E1E1E;
  border-radius: 50%;
}

.form__checkbox::before {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #1E1E1E;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.form__checkbox:checked::before {
  opacity: 1;
  visibility: visible;
}

.form__checkbox-text {
  font-size: 18px;
}

.form legend {
  margin-bottom: 16px;
  font-size: 18px;
}

.form fieldset {
  margin-bottom: 32px;
}

.form__bottom-text {
  margin-top: 16px;
  font-size: 12px;
  opacity: 0.4;
}

.form .form__checkbox-pay-wrapper label {
  width: 200px;
  display: inline-block;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  color: #1E1E1E;
  background-color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.form .form__checkbox-pay-wrapper:first-child label {
  width: 240px;
}

.form .form__checkbox-pay {
  border: 1px solid transparent;
}

.form .form__checkbox-pay:checked + label {
  color: #E479BD;
  border: 1px solid #E479BD;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 12px;
}

.breadcrumbs .separator {
  display: inline-block;
  margin: 0 2px;
}

.bx-breadcrumb-item {
  display: inline-block;
  color: #1E1E1E;
  transition: color 0.5s ease;
}

.bx-breadcrumb-item:hover {
  color: #E479BD;
}

.bx-breadcrumb-item:last-child {
  color: #E479BD;
}

.pagination {
  margin-top: 40px;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.pagination li + li {
  margin-left: 5px;
}

.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #1E1E1E;
  opacity: 0.6;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
  border-color: #F9CDE9;
}

.pagination .bx_active a {
  color: #fff;
  background-color: #1E1E1E;
  opacity: 1;
  border: 1px solid transparent;
}

.tnav__item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #FBFBFB;
  transition: border 0.5s ease;
}

.tnav__item.active {
  color: #fff;
  background-color: #1E1E1E;
}

.tnav__item:hover {
  border: 1px solid #E479BD;
}

.card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.card__list-2 .card {
  width: calc(50% - 20px);
}

.card__list-3 .card {
  width: calc(33.333333333333336% - 20px);
}

.card__image-wrapper {
  position: relative;
}

.card__image-slide {
  width: 100%;
  height: 440px;
  border-radius: 20px;
  overflow: hidden;
}

.card__image-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 20px;
}

.card .slick-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.card .slick-dots li,
.card .slick-dots button {
  width: 100%;
  height: 100%;
}

.card .slick-dots button {
  font-size: 0;
}

.card__info {
  margin-top: 16px;
  text-align: center;
}

.card__title {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
}

.card__price-new {
  margin-right: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.card__price-old {
  font-size: 14px;
  text-decoration: line-through;
  opacity: 0.4;
}

.card__size {
  margin-top: 20px;
}

.card__size-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  background-color: #FBFBFB;
  border-radius: 50%;
  text-align: center;
}

.card__btns {
  margin-top: 24px;
  display: flex;
}

.card__btns .btn-wish {
  margin-left: 8px;
}

.card__badge {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  padding: 10px 6px;
  font-size: 13px;
  color: #FBFBFB;
  background-color: #1E1E1E;
  border-radius: 20px;
}

.card__video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  overflow: hidden;
  background-color: #B0B0B0;
  border-radius: 20px;
}

.card__video::before {
  position: absolute;
  content: '';
  background: url(../img/play.svg) no-repeat center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.card__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
  border-radius: inherit;
}

.card__video.play::before {
  display: none;
}

.accordion__header {
  position: relative;
  cursor: pointer;
}

.accordion__header::after {
  position: absolute;
  content: '';
  right: 5px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: -16px;
  background: #1E1E1E url(../img/arrow-down.svg) no-repeat center;
  transition: rotate 0.5s ease;
}

.accordion__header.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__body {
  display: none;
}

.filter .accordion__header {
  padding: 10px 107px 10px 0;
  font-size: 18px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.filter .accordion__header:hover {
  background-color: #FAECF5;
}

.filter .accordion__header::after {
  right: 0;
  background: url(../img/arrow-down-black.svg) no-repeat center;
}

.filter .accordion__body {
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.filter .accordion__body a {
  display: block;
  padding: 8px 4px;
  font-size: 18px;
  transition: all 0.5s ease;
}

.filter .accordion__body a:hover,
.filter .accordion__body a:active,
.filter .accordion__body a:focus,
.filter .accordion__body a.active {
  color: #E479BD;
  background-color: #FAECF5;
}

.filter .form__input-wrapper {
  margin-top: 24px;
}

.slider__arrows {
  display: flex;
  gap: 5px;
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 100px;
  transition: background-color 0.5s ease;
}

.slider__arrow:hover {
  background-color: #E479BD;
}

.slider__arrow:hover svg path {
  stroke: #fff;
}

.header__top {
  padding: 26px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 242px;
}

.header__burger {
  display: none;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header__nav ul > li {
  padding: 16px;
}

.header__nav ul > li > a {
  font-size: 14px;
  font-weight: 300;
}

.header .menu-item-has-children {
  position: relative;
  transition: all 0.3s ease;
}

.header .menu-item-has-children:hover > .sub-menu {
  display: block;
}

.header .sub-menu {
  display: none;
  position: absolute;
  z-index: 20;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}

.header__btns {
  display: flex;
}

.header__soc {
  margin-right: 40px;
}

.header__soc a {
  margin: 6px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  color: #E479BD;
  background-color: #F9CDE9;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.header__soc a:hover,
.header__soc a:active,
.header__soc a:focus {
  color: #fff;
  background-color: #E479BD;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user a {
  display: inline-block;
}

.header__user a svg {
  width: 24px;
  height: 24px;
}

.header__user a:hover svg * {
  fill: #E479BD;
}

.header__user a + a {
  margin-left: 12px;
}

.header__bottom {
  width: 100%;
  height: 30px;
  background: url(../img/header-bottom-bg-w.svg) repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 50s infinite;
          animation: bg-scrolling-reverse 50s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.index {
  padding: 100px 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.index li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
}

.index a {
  font-size: 18px;
}

.index a:hover {
  text-decoration: underline;
}

.home__hero {
  position: relative;
  margin-bottom: 70px;
}

.home__hero-slide {
  height: 978px;
  max-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.home__hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__hero-title {
  font-size: 80px;
}

.home__hero-subtitle {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.home__hero-btn {
  margin-top: 48px;
  width: 240px;
}

.home__hero .slider__arrows {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home__hero .slider__arrow {
  background-color: #F9CDE9;
}

.home__hero .slider__arrow:hover {
  background-color: #E479BD;
}

.home__section {
  padding: 70px 0;
}

.home__section-head {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__h2 {
  font-size: 40px;
}

.home__link-all {
  padding: 4px 10px;
  font-size: 13px;
  color: #FBFBFB;
  background-color: #1E1E1E;
  border-radius: 10px;
  border: 1px solid transparent;
}

.home__link-all:hover {
  border: 1px solid #E479BD;
}

.home .aboutus {
  padding-top: 50px;
  padding-bottom: 90px;
}

.page {
  padding-bottom: 140px;
}

.page__h1 {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 200;
}

.page__text {
  font-size: 14px;
  color: rgba(30, 30, 30, 0.6);
}

.aboutus__content {
  display: flex;
  gap: 15px;
}

.aboutus__content > * {
  border-radius: 20px;
}

.aboutus__img {
  width: 54%;
  height: 810px;
}

.aboutus__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.aboutus__descr {
  width: 46%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFB;
}

.aboutus__pic {
  width: 191px;
  height: auto;
  margin-bottom: 40px;
  display: block;
  border-radius: 20px;
}

.aboutus__title {
  margin-bottom: 24px;
  font-size: 40px;
}

.aboutus__text {
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
}

.aboutus .btn {
  margin-top: 40px;
}

.about .aboutus__content {
  margin-top: 32px;
}

.bannerreg {
  padding: 70px 0;
}

.bannerreg__content {
  position: relative;
  padding: 100px 60px;
  color: #fff;
  background: #E479BD url(../img/bannerreg-logo.svg) no-repeat right center / contain;
  border-radius: 20px;
}

.bannerreg__title {
  margin-bottom: 16px;
  max-width: 54%;
  font-size: 40px;
}

.bannerreg__descr {
  margin-bottom: 48px;
  font-size: 18px;
  max-width: 54%;
}

.bannerreg__pic {
  display: block;
  max-width: 100%;
  width: 25vw;
  height: auto;
  position: absolute;
  right: 17vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bannerreg__pic img {
  -webkit-animation: 2s ease infinite flight;
          animation: 2s ease infinite flight;
}

.feedback {
  padding: 70px 0;
}

.feedback .slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.feedback__slide {
  margin: 0 10px;
  padding: 20px;
  background-color: #FBFBFB;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.feedback__slide:hover {
  background-color: #FAECF5;
}

.feedback__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.feedback__date {
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.6;
}

.catalog__h1 {
  margin-bottom: 24px;
}

.catalog__nav-wrapper {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.catalog__select-wrapper {
  padding: 10px 0;
}

.catalog__select {
  text-align: right;
  padding-left: 4px;
  padding-right: 13px;
  background: url(../img/arrow-down-black.svg) no-repeat right center;
  border: none;
  outline: none;
  max-width: 150px;
}

.catalog__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.catalog__aside {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

.catalog__aside .filter {
  max-width: 240px;
}

.catalog__box {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(75% - 20px);
}

.catalog .filter-btn {
  display: none;
}

.cat__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.cat__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: opacity 0.5s ease;
}

.cat__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.cat__item:hover .cat__title {
  opacity: 1;
}

.cat__item:hover span:last-child {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.cat__title {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-size: 22px;
  color: #fff;
  background-color: #E479BD;
  border-radius: 20px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat__title span:last-child {
  display: block;
  padding: 5px 10px;
  background-color: #F9CDE9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  will-change: transform;
}

.account__wrapper {
  max-width: 929px;
}

.account__h1 {
  margin-bottom: 20px;
}

.account__nav {
  margin-top: 20px;
  margin-bottom: 8px;
}

.account__bonus {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.6;
}

.account__form {
  margin-top: 40px;
}

.orders__wrapper {
  max-width: 645px;
}

.orders__items {
  margin-top: 16px;
}

.orders__item {
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #FBFBFB;
  transition: border 0.5s ease;
}

.orders__item:hover {
  border: 1px solid #E479BD;
}

.orders .accordion__header {
  padding: 20px 32px;
  border-radius: 20px;
}

.orders .accordion__header::after {
  right: 32px;
}

.orders .accordion__body {
  padding: 20px 32px;
}

.orders .accordion__body tr:nth-child(3),
.orders .accordion__body tr:nth-child(4) {
  display: none;
}

.orders__status {
  color: #E479BD;
}

.orders__status.final {
  color: #1E1E1E;
}

.orders table {
  width: 100%;
}

.orders th {
  padding: 4px;
  font-size: 14px;
  opacity: 0.6;
}

.orders td {
  padding: 4px;
  font-size: 18px;
}

.orders__list {
  margin-top: 40px;
}

.orders__list-item {
  padding: 8px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

.orders__list-item:last-of-type {
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.orders__pic {
  flex-shrink: 0;
  margin-right: 16px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
}

.orders__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}

.orders__title {
  margin-right: auto;
}

.orders__price {
  margin-left: 10px;
  margin-right: 16px;
  flex-shrink: 0;
  opacity: 0.6;
}

.orders__size {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  background-color: #F6F6F6;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__form .form__input {
  margin-bottom: 8px;
}

.order__form .form__input-wrapper + .form__input-wrapper {
  margin-top: 16px;
}

.order__form .form__wrap:last-child fieldset:last-child {
  margin-bottom: 0;
}

.order__form .form__line {
  gap: 8px;
  flex-direction: row;
}

.order__form .form__line .form__input {
  margin-bottom: 0;
}

.order__form .form__submit,
.order__form .form__bottom-text {
  max-width: 448px;
}

.wish .card__btns .btn,
.wish .card__btns .btn-wish {
  vertical-align: middle;
}

.faq__item {
  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

.faq__item:last-child {
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.faq__item:hover .accordion__header {
  background-color: #FAECF5;
}

.faq .accordion__header {
  padding: 18px 0;
  font-size: 22px;
  font-weight: 200;
  transition: background-color 0.3s ease;
}

.faq .accordion__header span {
  display: inline-block;
  padding-right: 40px;
}

.faq .accordion__body {
  padding: 18px 0;
  font-size: 14px;
  opacity: 0.6;
}

.p404__h1 {
  margin-top: 0;
  margin-bottom: 48px;
  color: #fff;
}

.p404__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 50px;
  min-height: 400px;
  background: #E479BD url(../img/p404-bg.jpg) no-repeat center / cover;
  border-radius: 20px;
}

.p404__btns {
  text-align: center;
}

.p404__btns .btn {
  margin: 10px;
  display: inline-block;
}

.popup {
  width: 480px;
  max-width: 100%;
  padding: 60px;
  border-radius: 20px;
  background-color: #F6F6F6;
}

.popup .fancybox-close-small {
  color: #E479BD;
}

.popup__title {
  font-size: 22px;
  text-align: center;
}

.popup__subtitle {
  margin: 16px 0;
  font-size: 14px;
  text-align: center;
  opacity: 0.6;
}

.popup__bottom {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
}

.popup__form {
  margin-top: 40px;
}

.popup__links {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.popup__links a {
  opacity: 0.6;
  transition: color 0.5s ease;
}

.popup__links a:hover {
  color: #E479BD;
}

.popup .form__input {
  margin-bottom: 8px;
  background-color: #fff;
}

.popup .form__input-wrapper {
  margin-top: 8px;
}

.popup .form__input-wrapper:first-of-type {
  margin-top: 24px;
}

.popup .form__input-wrapper:last-of-type {
  margin-bottom: 24px;
}

.popup .form__checkbox-text {
  font-size: 12px;
  opacity: 0.6;
}

.popup legend {
  font-size: 18px;
}

.popup legend + .form__input-wrapper {
  margin-top: 16px!important;
}

.popup fieldset {
  margin-bottom: 16px;
}

.popup .orders__list-item {
  margin: 40px 0;
  padding: 20px 0;
}

.popup .orders__pic {
  margin-right: 32px;
  width: 80px;
  height: 80px;
}

.popup .orders__title {
  margin-bottom: 8px;
  font-size: 18px;
}

.popup .orders__price {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
}

.popup .orders__size {
  border: 1px solid rgba(30, 30, 30, 0.6);
}

.footer {
  position: relative;
  color: #1E1E1E;
  background-color: #FAECF5;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.25;
}

.footer__logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

.footer__logo img {
  width: 100%;
  max-width: 675px;
}

.footer__box {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
  display: flex;
  justify-content: space-between;
}

.footer__col {
  width: 100%;
  padding: 0 5px;
}

.footer__contacts > a,
.footer__nav li {
  margin-bottom: 8px;
}

.footer__contacts > a,
.footer__nav a {
  display: block;
  color: currentColor;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.footer__contacts > a:hover,
.footer__nav a:hover,
.footer__contacts > a:active,
.footer__nav a:active,
.footer__contacts > a:focus,
.footer__nav a:focus {
  color: #E479BD;
  opacity: 1;
}

.footer__soc {
  margin-top: 16px;
}

.footer__soc a {
  display: inline-block;
}

.footer__soc a:hover svg path,
.footer__soc a:active svg path,
.footer__soc a:focus svg path {
  fill: #F9CDE9;
}

.footer__contacts .footer__soc a + a {
  margin-left: 10px;
}

.footer__header {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

.footer .btn-up {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 72px;
  border-top: 1px solid #F9CDE9;
}

.footer__bottom a {
  margin-bottom: 8px;
  color: #E479BD;
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
}

.footer__bottom a:hover,
.footer__bottom a:active,
.footer__bottom a:focus {
  text-decoration: underline;
}

.footer__bottom-text {
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (max-width: 834px) {
  .d-md-none {
    display: none;
  }

  .w-md-100 {
    width: 100%;
  }

  .form__label {
    font-size: 16px;
  }

  .form__input + .form__select {
    margin-left: 14px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }

  .pagination {
    margin-top: 28px;
  }

  .card__list-3 .card {
    width: calc(50% - 20px);
  }

  .card__image-slide {
    height: 263px;
  }

  .card__price-new {
    margin-right: 0;
  }

  .card__size {
    margin-top: 16px;
  }

  .card__btns {
    margin-top: 18px;
  }

  .card__badge {
    right: 16px;
    top: 16px;
  }

  .header__top {
    padding: 14px 0;
  }

  .header__logo {
    max-width: 194px;
  }

  .header__burger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__soc {
    display: none;
  }

  .home__hero {
    margin-bottom: 50px;
  }

  .home__hero-slide {
    height: 586px;
  }

  .home__hero-title {
    font-size: 60px;
  }

  .home__hero-subtitle {
    margin-top: 14px;
    font-size: 16px;
  }

  .home__hero-btn {
    margin-top: 40px;
  }

  .home__hero .slider__arrows {
    bottom: 16px;
  }

  .home__section {
    padding: 50px 0;
  }

  .home__section-head {
    margin-bottom: 32px;
  }

  .home__h2 {
    font-size: 30px;
  }

  .home .aboutus {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .page {
    padding-bottom: 100px;
  }

  .page__h1 {
    margin-top: 20px;
    font-size: 36px;
  }

  .aboutus__content {
    flex-wrap: wrap;
  }

  .aboutus__img {
    width: 100%;
    height: 580px;
  }

  .aboutus__descr {
    width: 100%;
    order: -1;
    padding-bottom: 95px;
  }

  .aboutus__pic {
    margin-bottom: 32px;
  }

  .aboutus__title {
    margin-bottom: 16px;
    font-size: 30px;
  }

  .aboutus .btn {
    margin-top: 32px;
  }

  .about .aboutus__content {
    margin-top: 20px;
  }

  .bannerreg {
    padding: 50px 0;
  }

  .bannerreg__content {
    padding: 40px 30px;
  }

  .bannerreg__title {
    font-size: 30px;
  }

  .bannerreg__descr {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .bannerreg__pic {
    width: 40vw;
    right: 2vw;
  }

  .feedback {
    padding: 50px 0;
  }

  .catalog__nav-wrapper {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .catalog__nav {
    width: 100%;
  }

  .catalog__aside {
    width: calc(100% - 20px);
  }

  .catalog__aside .filter {
    display: none;
    max-width: 100%;
  }

  .catalog__box {
    width: calc(100% - 20px);
  }

  .catalog__box {
    margin-top: 24px;
  }

  .catalog .filter-btn {
    display: block;
  }

  .cat__item {
    width: calc(100% - 20px);
  }

  .cat__item {
    margin-bottom: 20px;
    height: 400px;
  }

  .account__bonus {
    margin-top: 12px;
    font-size: 16px;
  }

  .account__form {
    margin-top: 32px;
  }

  .orders__wrapper {
    max-width: 100%;
  }

  .orders .accordion__header::after {
    right: 20px;
  }

  .orders td {
    font-size: 16px;
  }

  .faq .accordion__header {
    padding: 14px 0;
  }

  .faq .accordion__body {
    padding: 14px 0;
  }

  .p404__h1 {
    margin-top: 0px;
  }

  .p404__banner {
    margin-top: 20px;
    padding: 15px;
  }

  .footer__top {
    position: static;
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .footer__logo {
    width: calc(100% - 20px);
  }

  .footer__logo {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer__logo img {
    max-width: 100%;
  }

  .footer__box {
    width: calc(100% - 20px);
  }

  .footer .btn-up {
    right: 10px;
    top: 40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .footer__bottom {
    padding-top: 24px;
    padding-bottom: 198px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    padding: 16px 35px;
  }

  .form__wrap {
    width: calc(100% - 20px);
  }

  .form__label {
    display: none;
  }

  .form__input {
    margin-bottom: 12px;
  }

  .form__input + .form__select {
    margin-left: 0;
  }

  .form__line {
    flex-direction: column;
  }

  .form__line .form__label + .form__input {
    width: 100%;
    max-width: 100%;
  }

  .form legend {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .form fieldset {
    margin-bottom: 20px;
  }

  .form .form__checkbox-pay-wrapper {
    width: 100%;
  }

  .form .form__checkbox-pay-wrapper label {
    padding: 16px 2px;
    width: 100%;
  }

  .form .form__checkbox-pay-wrapper:first-child label {
    width: 200px;
  }

  .pagination {
    margin-top: 20px;
  }

  .pagination a {
    font-size: 16px;
  }

  .card__list-2 .card {
    width: calc(100% - 20px);
  }

  .card__list-3 .card {
    width: calc(100% - 20px);
  }

  .card {
    margin-bottom: 16px;
  }

  .card__title {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .card__price-new {
    font-size: 14px;
  }

  .card__btns {
    margin-top: 24px;
  }

  .card__btns .btn-wish {
    border-radius: 50%;
  }

  .card__badge {
    right: 10px;
    top: 10px;
  }

  .header__logo {
    max-width: 146px;
  }

  .header__user a svg {
    width: 20px;
    height: 20px;
  }

  .header__user a + a {
    margin-left: 4px;
  }

  .home__hero {
    margin-bottom: 25px;
  }

  .home__hero-slide {
    height: 443px;
  }

  .home__hero-title {
    font-size: 34px;
  }

  .home__hero-subtitle {
    margin-top: 8px;
    font-size: 14px;
  }

  .home__hero-btn {
    margin-top: 24px;
    width: 180px;
  }

  .home__hero .slider__arrows {
    bottom: 10px;
  }

  .home__section {
    padding: 25px 0;
  }

  .home__section-head {
    margin-bottom: 16px;
  }

  .home__h2 {
    font-size: 24px;
  }

  .home .aboutus {
    padding-bottom: 25px;
  }

  .page {
    padding-bottom: 50px;
  }

  .page__h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .aboutus__content {
    gap: 10px;
  }

  .aboutus__img {
    height: 278px;
  }

  .aboutus__descr {
    padding: 40px 20px;
  }

  .aboutus__pic {
    margin-bottom: 24px;
    width: 100px;
  }

  .aboutus__title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .aboutus__text {
    font-size: 14px;
  }

  .aboutus .btn {
    margin-top: 24px;
  }

  .bannerreg {
    padding: 25px 0;
  }

  .bannerreg__content {
    padding: 30px 16px 0 16px;
    text-align: center;
    background: #E479BD;
  }

  .bannerreg__title {
    margin-bottom: 8px;
    max-width: 100%;
    font-size: 24px;
  }

  .bannerreg__descr {
    margin-bottom: 24px;
    max-width: 100%;
    font-size: 14px;
  }

  .bannerreg__pic {
    margin-left: auto;
    margin-right: auto;
    position: static;
    margin-top: 19px;
    -webkit-transform: none;
            transform: none;
    width: 340px;
  }

  .bannerreg__pic img {
    margin-bottom: -25px;
  }

  .feedback {
    padding: 25px 0;
  }

  .feedback__title {
    font-size: 18px;
  }

  .catalog__box {
    margin-top: 20px;
  }

  .cat__item {
    margin-bottom: 10px;
    height: 280px;
  }

  .cat__title {
    padding: 8px 14px;
    font-size: 18px;
  }

  .account__h1 {
    margin-bottom: 16px;
  }

  .account__nav {
    margin-top: 16px;
    margin-bottom: 4px;
  }

  .account__form {
    margin-top: 20px;
  }

  .orders .accordion__header {
    padding: 20px;
  }

  .orders .accordion__header th,
  .orders .accordion__header td {
    display: none;
  }

  .orders .accordion__header th:first-child,
  .orders .accordion__header td:first-child,
  .orders .accordion__header th:nth-child(2),
  .orders .accordion__header td:nth-child(2) {
    display: table-cell;
  }

  .orders .accordion__body {
    padding: 20px;
  }

  .orders .accordion__body tr:nth-child(3),
  .orders .accordion__body tr:nth-child(4) {
    display: table-row;
  }

  .orders__list {
    margin-top: 24px;
  }

  .order__form input[name="points"] + .btn {
    padding: 16px 12px;
  }

  .faq .accordion__header {
    font-size: 18px;
  }

  .p404__h1 {
    margin-bottom: 24px;
  }

  .p404__banner {
    min-height: 300px;
  }

  .p404__btns .btn {
    margin: 5px;
  }

  .popup {
    padding: 32px 20px;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup__subtitle {
    margin: 8px 0;
  }

  .popup__bottom {
    margin-top: 24px;
  }

  .popup__form {
    margin-top: 24px;
  }

  .popup fieldset {
    margin-bottom: 0;
  }

  .popup .orders__list-item {
    margin: 24px 0;
  }

  .popup .orders__title {
    font-size: 14px;
  }

  .footer__box {
    flex-direction: column;
  }

  .footer__col {
    text-align: center;
    padding: 0;
  }

  .footer__col + .footer__col {
    margin-top: 24px;
  }

  .footer__header {
    margin-bottom: 12px;
  }

  .footer .btn-up {
    top: unset;
    bottom: 100px;
    right: 50%;
    margin-right: -16px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
  }

  .footer__bottom-text {
    margin-bottom: 24px;
    text-align: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}