*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:first-child,
table:first-child {
  margin-top: 0!important;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
          appearance: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.eot');
  src: url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-EXTRALIGHT.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-LIGHT.eot');
  src: url('../fonts/GEOLOGICA_AUTO-LIGHT.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-LIGHT.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-LIGHT.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-LIGHT.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-REGULAR.eot');
  src: url('../fonts/GEOLOGICA_AUTO-REGULAR.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-REGULAR.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-REGULAR.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-REGULAR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/GEOLOGICA_AUTO-BOLD.eot');
  src: url('../fonts/GEOLOGICA_AUTO-BOLD.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOLOGICA_AUTO-BOLD.woff2') format('woff2'), url('../fonts/GEOLOGICA_AUTO-BOLD.woff') format('woff'), url('../fonts/GEOLOGICA_AUTO-BOLD.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

::selection {
  background-color: rgba(228, 121, 189, 0.3);
  color: #1E1E1E;
}

body {
  position: relative;
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 200;
  font-style: normal;
  color: #1E1E1E;
  background-color: #F6F6F6;
  min-width: 320px;
}

main {
  min-height: 100vh;
}

/* Наследуем шрифты для инпутов и кнопок */

textarea {
  resize: none;
}

input,
textarea {
  field-sizing: content;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: #E479BD;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #E479BD;
  background-color: #F9CDE9;
}

.btn-out {
  background-color: #F9CDE9;
}

.btn-alt {
  color: #E479BD;
  background-color: #F9CDE9;
  border: 1px solid #F9CDE9;
}

.btn-alt:hover,
.btn-alt:active,
.btn-alt:focus {
  color: #fff;
  background-color: #E479BD;
}

.btn-wish {
  display: inline-block;
  padding: 13px;
  border-radius: 20px;
  font-size: 0;
  background-color: #F9CDE9;
  transition: background-color 0.5s ease;
  text-align: center;
}

.btn-wish:hover,
.btn-wish:active,
.btn-wish:focus {
  background-color: #E479BD;
}

.btn-wish:hover svg path,
.btn-wish:active svg path,
.btn-wish:focus svg path {
  fill: #F9CDE9;
}

.btn-up {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  background: #E479BD url(../img/arrow-down.svg) no-repeat center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: background-color 0.5s ease;
}

.btn-up:hover,
.btn-up:active,
.btn-up:focus {
  background-color: #F9CDE9;
}

.form__all {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 24px;
}

.form__wrap {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

.form__label {
  margin-bottom: 16px;
  margin-right: 27px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.2;
  background-color: #FBFBFB;
  border: 1px solid transparent;
  border-radius: 15px;
  opacity: 0.6;
}

.form__input:focus {
  opacity: 1;
  border: 1px solid #E479BD;
}

.form__select {
  margin-bottom: 16px;
  width: 100%;
  height: 49px;
  padding: 16px 12px;
  color: rgba(30, 30, 30, 0.6);
  background: #FBFBFB url(../img/arrow-down-black.svg) no-repeat 95% center;
  border-radius: 15px;
  opacity: 0.6;
}

.form__select:focus {
  opacity: 1;
  outline: 1px solid #E479BD;
}

.form__input + .form__select {
  margin-left: 9px;
}

.form__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__line .form__label + .form__input {
  width: 80%;
  max-width: 340px;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 12px;
}

.breadcrumbs .separator {
  display: inline-block;
  margin: 0 2px;
}

.bx-breadcrumb-item {
  display: inline-block;
  color: #1E1E1E;
  transition: color 0.5s ease;
}

.bx-breadcrumb-item:hover {
  color: #E479BD;
}

.bx-breadcrumb-item:last-child {
  color: #E479BD;
}

.pagination {
  margin-top: 40px;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.pagination li + li {
  margin-left: 5px;
}

.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #1E1E1E;
  opacity: 0.6;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
  border-color: #F9CDE9;
}

.pagination .bx_active a {
  color: #fff;
  background-color: #1E1E1E;
  opacity: 1;
  border: 1px solid transparent;
}

.tnav__item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #FBFBFB;
  transition: border 0.5s ease;
}

.tnav__item.active {
  color: #fff;
  background-color: #1E1E1E;
}

.tnav__item:hover {
  border: 1px solid #E479BD;
}

.card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.card__list-2 .card {
  width: calc(50% - 20px);
}

.card__list-3 .card {
  width: calc(33.333333333333336% - 20px);
}

.card__image-wrapper {
  position: relative;
}

.card__image-slide {
  width: 100%;
  height: 440px;
  border-radius: 20px;
  overflow: hidden;
}

.card__image-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 20px;
}

.card .slick-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.card .slick-dots li,
.card .slick-dots button {
  width: 100%;
  height: 100%;
}

.card .slick-dots button {
  font-size: 0;
}

.card__info {
  margin-top: 16px;
  text-align: center;
}

.card__title {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
}

.card__price-new {
  margin-right: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.card__price-old {
  font-size: 14px;
  text-decoration: line-through;
  opacity: 0.4;
}

.card__size {
  margin-top: 20px;
}

.card__size-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.card__btns {
  margin-top: 24px;
  display: flex;
}

.card__btns .btn-wish {
  margin-left: 8px;
}

.card__badge {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  padding: 10px 20px;
  font-size: 13px;
  color: #FBFBFB;
  background-color: #1E1E1E;
  border-radius: 20px;
}

.accordion__header {
  position: relative;
  cursor: pointer;
}

.accordion__header::after {
  position: absolute;
  content: '';
  right: 5px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: -16px;
  background: #1E1E1E url(../img/arrow-down.svg) no-repeat center;
  transition: rotate 0.5s ease;
}

.accordion__header.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__body {
  display: none;
}

.header__top {
  padding: 26px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 242px;
}

.header__burger {
  display: none;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header__nav ul > li {
  padding: 16px;
}

.header__nav ul > li > a {
  font-size: 14px;
  font-weight: 300;
}

.header .menu-item-has-children {
  position: relative;
  transition: all 0.3s ease;
}

.header .menu-item-has-children:hover > .sub-menu {
  display: block;
}

.header .sub-menu {
  display: none;
  position: absolute;
  z-index: 20;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}

.header__btns {
  display: flex;
}

.header__soc {
  margin-right: 40px;
}

.header__soc a {
  margin: 6px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  color: #E479BD;
  background-color: #F9CDE9;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.header__soc a:hover,
.header__soc a:active,
.header__soc a:focus {
  color: #fff;
  background-color: #E479BD;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user a {
  display: inline-block;
}

.header__user a svg {
  width: 24px;
  height: 24px;
}

.header__user a:hover svg * {
  fill: #E479BD;
}

.header__user a + a {
  margin-left: 12px;
}

.header__bottom {
  width: 100%;
  height: 30px;
  background: url(../img/header-bottom-bg-w.svg) repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 50s infinite;
          animation: bg-scrolling-reverse 50s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.page {
  padding-bottom: 140px;
}

.page__h1 {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 200;
}

.page__text {
  font-size: 14px;
  color: rgba(30, 30, 30, 0.6);
}

.catalog__h1 {
  margin-bottom: 24px;
}

.catalog__nav-wrapper {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.catalog__select-wrapper {
  padding: 10px 0;
}

.catalog__select {
  padding-left: 4px;
  padding-right: 13px;
  background: url(../img/arrow-down-black.svg) no-repeat 98% center;
  border: none;
  outline: none;
}

.catalog__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.catalog__filter {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
}

.catalog__box {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(66.66666666666667% - 20px);
}

.account__wrapper {
  max-width: 929px;
}

.account__h1 {
  margin-bottom: 20px;
}

.account__nav {
  margin-top: 20px;
  margin-bottom: 8px;
}

.account__bonus {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.6;
}

.account__form {
  margin-top: 40px;
}

.orders__wrapper {
  max-width: 645px;
}

.orders__list {
  margin-top: 16px;
}

.orders__item {
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #FBFBFB;
  transition: border 0.5s ease;
}

.orders__item:hover {
  border: 1px solid #E479BD;
}

.orders .accordion__header {
  padding: 20px 32px;
  border-radius: 20px;
}

.orders .accordion__header::after {
  right: 32px;
}

.orders .accordion__body {
  padding: 20px 32px;
}

.orders .accordion__body tr:nth-child(3),
.orders .accordion__body tr:nth-child(4) {
  display: none;
}

.orders__status {
  color: #E479BD;
}

.orders__status.final {
  color: #1E1E1E;
}

.orders table {
  width: 100%;
}

.orders th {
  padding: 4px;
  font-size: 14px;
  opacity: 0.6;
}

.orders td {
  padding: 4px;
  font-size: 18px;
}

.wish .card__btns .btn,
.wish .card__btns .btn-wish {
  vertical-align: middle;
}

.faq__item {
  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

.faq__item:last-child {
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.faq__item:hover .accordion__header {
  background-color: #FAECF5;
}

.faq .accordion__header {
  padding: 18px 0;
  font-size: 22px;
  font-weight: 200;
  transition: background-color 0.3s ease;
}

.faq .accordion__header span {
  display: inline-block;
  padding-right: 40px;
}

.faq .accordion__body {
  padding: 18px 0;
  font-size: 14px;
  opacity: 0.6;
}

.p404__h1 {
  margin-top: 0;
  margin-bottom: 48px;
  color: #fff;
}

.p404__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 50px;
  min-height: 400px;
  background: #E479BD url(../img/p404-bg.jpg) no-repeat center / cover;
  border-radius: 20px;
}

.p404__btns {
  text-align: center;
}

.p404__btns .btn {
  margin: 10px;
  display: inline-block;
}

.footer {
  position: relative;
  color: #1E1E1E;
  background-color: #FAECF5;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.25;
}

.footer__logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

.footer__logo img {
  width: 100%;
  max-width: 675px;
}

.footer__box {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
  display: flex;
  justify-content: space-between;
}

.footer__col {
  width: 100%;
  padding: 0 5px;
}

.footer__contacts > a,
.footer__nav li {
  margin-bottom: 8px;
}

.footer__contacts > a,
.footer__nav a {
  display: block;
  color: currentColor;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.footer__contacts > a:hover,
.footer__nav a:hover,
.footer__contacts > a:active,
.footer__nav a:active,
.footer__contacts > a:focus,
.footer__nav a:focus {
  color: #E479BD;
  opacity: 1;
}

.footer__soc {
  margin-top: 16px;
}

.footer__soc a {
  display: inline-block;
}

.footer__soc a:hover svg path,
.footer__soc a:active svg path,
.footer__soc a:focus svg path {
  fill: #F9CDE9;
}

.footer__contacts .footer__soc a + a {
  margin-left: 10px;
}

.footer__header {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

.footer .btn-up {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 72px;
  border-top: 1px solid #F9CDE9;
}

.footer__bottom a {
  margin-bottom: 8px;
  color: #E479BD;
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
}

.footer__bottom a:hover,
.footer__bottom a:active,
.footer__bottom a:focus {
  text-decoration: underline;
}

.footer__bottom-text {
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (max-width: 834px) {
  .d-md-none {
    display: none;
  }

  .w-md-100 {
    width: 100%;
  }

  .form__label {
    font-size: 16px;
  }

  .form__input + .form__select {
    margin-left: 14px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }

  .pagination {
    margin-top: 28px;
  }

  .card__list-3 .card {
    width: calc(50% - 20px);
  }

  .card__image-slide {
    height: 263px;
  }

  .card__price-new {
    margin-right: 0;
  }

  .card__size {
    margin-top: 16px;
  }

  .card__btns {
    margin-top: 18px;
  }

  .card__badge {
    right: 16px;
    top: 16px;
  }

  .header__top {
    padding: 14px 0;
  }

  .header__logo {
    max-width: 194px;
  }

  .header__burger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__soc {
    display: none;
  }

  .page {
    padding-bottom: 100px;
  }

  .page__h1 {
    margin-top: 20px;
    font-size: 36px;
  }

  .catalog__filter {
    width: calc(100% - 20px);
  }

  .catalog__box {
    width: calc(100% - 20px);
  }

  .account__bonus {
    margin-top: 12px;
    font-size: 16px;
  }

  .account__form {
    margin-top: 32px;
  }

  .orders .accordion__header::after {
    right: 20px;
  }

  .orders td {
    font-size: 16px;
  }

  .faq .accordion__header {
    padding: 14px 0;
  }

  .faq .accordion__body {
    padding: 14px 0;
  }

  .p404__h1 {
    margin-top: 0px;
  }

  .p404__banner {
    margin-top: 20px;
    padding: 15px;
  }

  .footer__top {
    position: static;
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .footer__logo {
    width: calc(100% - 20px);
  }

  .footer__logo {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer__logo img {
    max-width: 100%;
  }

  .footer__box {
    width: calc(100% - 20px);
  }

  .footer .btn-up {
    right: 10px;
    top: 40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .footer__bottom {
    padding-top: 24px;
    padding-bottom: 198px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    padding: 16px 39px;
  }

  .form__wrap {
    width: calc(100% - 20px);
  }

  .form__label {
    display: none;
  }

  .form__input {
    margin-bottom: 12px;
  }

  .form__input + .form__select {
    margin-left: 0;
  }

  .form__line {
    flex-direction: column;
  }

  .form__line .form__label + .form__input {
    width: 100%;
    max-width: 100%;
  }

  .pagination {
    margin-top: 20px;
  }

  .pagination a {
    font-size: 16px;
  }

  .card__list-2 .card {
    width: calc(100% - 20px);
  }

  .card__list-3 .card {
    width: calc(100% - 20px);
  }

  .card__title {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .card__price-new {
    font-size: 14px;
  }

  .card__btns {
    margin-top: 24px;
  }

  .card__btns .btn-wish {
    border-radius: 50%;
  }

  .card__badge {
    right: 10px;
    top: 10px;
  }

  .header__logo {
    max-width: 146px;
  }

  .header__user a svg {
    width: 20px;
    height: 20px;
  }

  .header__user a + a {
    margin-left: 4px;
  }

  .page {
    padding-bottom: 50px;
  }

  .page__h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .account__h1 {
    margin-bottom: 16px;
  }

  .account__nav {
    margin-top: 16px;
    margin-bottom: 4px;
  }

  .account__form {
    margin-top: 20px;
  }

  .orders .accordion__header {
    padding: 20px;
  }

  .orders .accordion__header th,
  .orders .accordion__header td {
    display: none;
  }

  .orders .accordion__header th:first-child,
  .orders .accordion__header td:first-child,
  .orders .accordion__header th:nth-child(2),
  .orders .accordion__header td:nth-child(2) {
    display: table-cell;
  }

  .orders .accordion__body {
    padding: 20px;
  }

  .orders .accordion__body tr:nth-child(3),
  .orders .accordion__body tr:nth-child(4) {
    display: table-row;
  }

  .faq .accordion__header {
    font-size: 18px;
  }

  .p404__h1 {
    margin-bottom: 24px;
  }

  .p404__banner {
    min-height: 300px;
  }

  .p404__btns .btn {
    margin: 5px;
  }

  .footer__box {
    flex-direction: column;
  }

  .footer__col {
    text-align: center;
    padding: 0;
  }

  .footer__col + .footer__col {
    margin-top: 24px;
  }

  .footer__header {
    margin-bottom: 12px;
  }

  .footer .btn-up {
    top: unset;
    bottom: 100px;
    right: 50%;
    margin-right: -16px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
  }

  .footer__bottom-text {
    margin-bottom: 24px;
    text-align: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}