.faq {

    &__item {
        // padding: 18px 0;
        // padding-right: 40px;
        border-top: 1px solid rgba(30, 30, 30, 0.1);
        
        &:last-child {
            border-bottom: 1px solid rgba(30, 30, 30, 0.1);
        }
    }
    
    &__item:hover .accordion__header {
        background-color: @pink;
    }
    
    .accordion__header {
        padding: 18px 0;
        font-size: 22px;
        font-weight: 200;
        
        transition: background-color 0.3s ease;

        .md-block({
            padding: 14px 0;
        });

        .xs-block({
            font-size: 18px;
        });
        
        span {
            display: inline-block;
            padding-right: 40px;
        }

    }
    
    .accordion__body {
        // margin-top: 13px;
        padding: 18px 0;
        font-size: 14px;
        opacity: 0.6;

        .md-block({
            padding: 14px 0;
        });
    }
}