.footer {
    color: @black;
    background-color: @pink;

    &__top {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    &__bottom {
        padding-top: 40px;
        padding-bottom: 80px;
        border-top: 1px solid #F9CDE9
    }
}