.breadcrumbs {
    // display: flex;

    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 12px;

    .md-block({
        margin-bottom: 20px;
    });

    .separator {
        display: inline-block;
        margin: 0 2px;
    }
}

.bx-breadcrumb-item {
    display: inline-block;
    color: @black;

    &:last-child {
        color: @accent;
    }
}